<!-- Utilizamos una plantilla para la cabecera  -->
<%- include('templates/head') %>
<body>
    <main>
            <h1>Título desde una plantilla</h1>
    <p><%= parrafo %></p>
    </main>
    <!-- También utilizamos una plantilla para el footer  -->
    <%- include('templates/footer') %>
</body>
</html>